@model Course

@{
	ViewData["Title"] = "Details";
}

<h1>Course Details</h1>

<partial name="_CourseCardPartial" model="Model" />

<div class="card-body">
	<a asp-action="Index">Back to List</a>
</div>
