@model Department

@{
	ViewData["Title"] = "Details";
}

<h1>Department Details</h1>

<partial name="_DepartmentCardPartial" model="Model" />

<div class="card-body">
	<a asp-action="Index">Back to List</a>
</div>
