

@model CourseResult

@{
	ViewData["Title"] = "Details";
}

<h1>Grade Details</h1>

<partial name="_CourseResultCardPartial" model="Model" />

<div class="card-body">
	<a asp-action="Index">Back to List</a>
</div>
